<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<body>
    <table style="width:600px;margin:auto;    padding: 0px 20px;" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
        <tbody>
            <tr>
                <td width="100%" valign="top" align="center">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                        <tbody>
                            <tr>
                                <td height="30"> </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="600" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td width="600" class="mobile" align="center">
                                                    <img src="http://staging.doodleflow.io/static/images/logo.png" width="120" border="0" alt="logo">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="35"> </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" style="border: 0.5px solid #CCCCCC;border-radius: 3px;    padding: 10px 20px;" cellpadding="0" cellspacing="0"
                        border="0" bgcolor="#FFFFFF">
                        <tbody>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td width="600" class="mobile" align="center">
                                                    <h4 style="font-size: 20px;font-family: 'Lato', sans-serif;margin: 0px;font-weight: 500;"> RESET PASSWORD</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <p style="font-family: 'Lato', sans-serif;color: #333333;margin:0">Follow this link to reset your account password.</p>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="5"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <p style="font-family: 'Lato', sans-serif;color: #333333;margin:0">If you didn't request a new password, you may safely delete this email.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="70"> </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td style="border-radius: 0px; border: 0px none transparent; text-align: center; font-family: 'Lato', sans-serif; font-size: 14px; padding: 15px 60px;   background-color: #006ADA;border-radius: 50px;">
                                                    <span style="font-family: 'Lato', sans-serif; font-size: 16px; color: rgb(255, 255, 255);">
                                                        <a style="color:#FFFFFF;text-decoration:none;" target="_blank" href=<%=url %> >Reset Password</a>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="40"> </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>